#container {
  background: forestgreen;
  width: 450px;
  height: 200px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 10pt;
  font-weight: bold;
  border: 2px double purple;
  border-radius: 10px;
  padding: 2px}
table {
  margin: 0 auto}
input {
  background: navy;
  border-radius: 10px;
  color: gold}
select {
  background: black;
  color: yellow;
  width: 80px}
p {
  color: silver}