#container {
  background-image: url("bg.png");
  width: 800px;
  height: 390px;
  margin: 0 auto;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 12pt;
  font-weight: bold;
  border: 2px double purple;
  border-radius: 10px;
  padding: 5px}
table {
  margin: 0 auto}
input {
  background: navy;
  border-radius: 10px;
  color: gold}
select {
  background: black;
  color: yellow;
  width: 90px}
p, #out {
  margin-top: 5px;
  color: silver}
